.QuestionBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    max-width: 700px;
}

.QuestionBox:hover {
    border: 1px solid rgb(175, 175, 175);
}

.QuestionBoxInfo {
    display: flex;
    align-items: center;
}

.QuestionBoxInfo>h5 {
    color: rgb(129, 129, 129);
    font-weight: bold;
    margin-left: 10px;
    font-size: large;
}

.QuestionBoxSoruSor {
    display: flex;
    margin-top: 8px;
}